<!DOCTYPE html>
{% load static %}
{% load permission_tags %}
{% load avatar_tags %}

<!--
Template Name: Stack - Stack - Bootstrap 4 Admin Template
Author: PixInvent
Website: http://www.pixinvent.com/
Contact: hello@pixinvent.com
Follow: www.twitter.com/pixinvents
Like: www.facebook.com/pixinvents
Purchase: https://1.envato.market/stack_admin
Renew Support: https://1.envato.market/stack_admin
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.

-->
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description"
          content="Stack admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords"
          content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>FOCUSLAB</title>
    <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
          rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/vendors.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-extended.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/colors/palette-gradient.css' %}">
    {% block page_css %}
    {% endblock %}
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu"
      data-col="2-columns">

<!-- BEGIN: Header-->
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a
                        class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                        class="feather icon-menu font-large-1"></i></a></li>
                <li class="nav-item"><a class="navbar-brand"
                                        href="{% url 'home' %}"><img
                        class="brand-logo" alt="FOCUSLAB Logo" height="32px" src="{% static 'images/focus_lt.png' %}">
                    <h4 class="brand-text">FOCUS<span style="color: #82cf00">LAB</span></h4>
                </a></li>
                <li class="nav-item d-none d-md-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0"
                                                                     data-toggle="collapse"><i
                        class="toggle-icon feather icon-toggle-right font-medium-3 white"
                        data-ticon="feather.icon-toggle-right"></i></a></li>
                <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                                                  data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i
                            class="ficon feather icon-maximize"></i></a></li>
                    <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i
                            class="ficon feather icon-search"></i></a>
                        <div class="search-input">
                            <input class="input" type="text" placeholder="Explore Focuslab..." tabindex="0"
                                   data-search="template-search">
                            <div class="search-input-close"><i class="feather icon-x"></i></div>
                            <ul class="search-list"></ul>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav float-right">
                    <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link"
                                                                   href="#" data-toggle="dropdown">
                        <div class="avatar avatar-online">
                            {% avatar user 32 %}
                        </div>
                        <span class="user-name">{{ user.get_full_name }}</span>
                    </a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"
                                                                          href="{% url 'avatar_change' %}"><i
                                class="feather icon-user"></i> Edit Profile</a><a class="dropdown-item"
                                                                                  href="#"><i
                                class="feather icon-check-square"></i> My Tasks</a><a class="dropdown-item" href="#"><i
                                class="feather icon-settings"></i> Preferences</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}"><i class="feather icon-power"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- END: Header-->


<!-- BEGIN: Main Menu-->
<!-- main menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <!-- main menu header-->
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="navigation-header"><span>Applications</span><i class=" feather icon-minus" data-toggle="tooltip"
                                                                      data-placement="right"
                                                                      data-original-title="Applications"></i>
            </li>
            <li class=" nav-item"><a href="#"><i class="fa fa-tachometer"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
            </li>
            <li class=" nav-item"><a href="#projects"><i class="fa fa-th-large"></i><span
                    class="menu-title" data-i18n="">Projects</span></a>
            </li>
            <li class=" nav-item"><a href="#mine"><i class="fa fa-tasks"></i><span class="menu-title"
                                                                                   data-i18n="">My Tasks</span></a>
            </li>
            <li class=" nav-item"><a href="#"><i class="fa fa-trello"></i><span class="menu-title"
                                                                                data-i18n="">Kanban Boards</span></a>
            </li>
            <li class=" nav-item"><a href="#"><i class="fa fa-files-o"></i><span class="menu-title"
                                                                                data-i18n="">File Manager</span></a>
            </li>
            {% if user|has_role:"manager" %}
                <li class="navigation-header"><span>Settings</span><i class=" feather icon-minus" data-toggle="tooltip"
                                                                      data-placement="right"
                                                                      data-original-title="Settings"></i>
                </li>
                <li class=" nav-item"><a href="#external_add"><i
                        class="fa fa-users"></i><span class="menu-title" data-i18n="">User Management</span></a>
                </li>
            {% endif %}
            <li class="navigation-header"><span>Support</span><i class=" feather icon-minus" data-toggle="tooltip"
                                                                 data-placement="right"
                                                                 data-original-title="Support"></i>
            </li>
            <li class=" nav-item"><a href="#external_add" target="_blank"><i
                    class="fa fa-bug"></i><span class="menu-title" data-i18n="">File a Bug</span></a>
            </li>
            <li class=" nav-item"><a href="#"
                                     target="_blank"><i class="fa fa-book"></i><span class="menu-title"
                                                                                     data-i18n="">Documentation</span></a>
            </li>
        </ul>
    </div>
    <!-- /main menu content-->
    <!-- main menu footer-->
    <!-- main menu footer-->
</div>
<!-- / main menu-->
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                {% block page_title %}
                    <h3 class="content-header-title mb-0">Dashboard</h3>
                {% endblock %}
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            {% block breadcrumb %}
                                <li class="breadcrumb-item active">Dashboard</li>
                            {% endblock %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}

        {% endblock %}
    </div>
</div>
<!-- END: Content-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>


<!-- BEGIN: Vendor JS-->
<script src="{% static 'vendors/js/vendors.min.js' %}"></script>
<!-- BEGIN Vendor JS-->
{% block vendor_js %}
{% endblock %}
<!-- BEGIN: Page Vendor JS-->
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{% static 'js/core/app-menu.js' %}"></script>
<script src="{% static 'js/core/app.js' %}"></script>
<script src="{% static 'js/scripts/customizer.js' %}"></script>
{% block theme_js %}
{% endblock %}
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
{% block page_js %}
{% endblock %}
<!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>