{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages/project.min.css' %}">
{% endblock %}

{% block page_title %}
    <h3 class="content-header-title mb-0">Project Summary</h3>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Projects</a></li>
    <li class="breadcrumb-item">{{ project.name }}</li>
{% endblock %}

{% block content %}
    <div class="content-detached content-left">
        <div class="content-body">
            <section class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-head">
                            <div class="card-header">
                                <h4 class="card-title">{{ project.name }} Metrics</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    {% for tagname in project.tags.all %}
                                        <span class="badge badge-info">{{ tagname|title }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="px-1">
                                <ul class="list-inline list-inline-pipe text-center p-1 border-bottom-grey border-bottom-lighten-3">
                                    <li>Project Lead: <span class="text-muted">{{ project.lead.get_full_name }}</span>
                                    </li>
                                    <li>Start: <span class="text-muted">{{ project.start }}</span></li>
                                    <li>Due on: <span
                                            class="{% if project.overdue_status %}danger{% else %}text-muted{% endif %}">{{ project.due }}</span>
                                    </li>
                                    <li><a href="#" class="text-muted" data-toggle="tooltip" data-placement="bottom"
                                           title="Export as PDF"><i class="fa fa-file-pdf-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- project-info -->
                        <div id="project-info" class="card-body row">
                             <div class="project-info-count col-lg-1 col-md-12">
                            </div>
                            <div class="project-info-count col-lg-2 col-md-12">
                                <div class="project-info-icon">
                                    <h2>{{ task_count }}</h2>
                                    <div class="project-info-sub-icon">
                                        <span class="fa fa-calendar-check-o"></span>
                                    </div>
                                </div>
                                <div class="project-info-text pt-1">
                                    <h5>Project Tasks</h5>
                                </div>
                            </div>
                            <div class="project-info-count col-lg-2 col-md-12">
                                <div class="project-info-icon">
                                    <h2>{{ active_task_count }}</h2>
                                    <div class="project-info-sub-icon">
                                        <span class="fa fa-check"></span>
                                    </div>
                                </div>
                                <div class="project-info-text pt-1">
                                    <h5>Active Tasks</h5>
                                </div>
                            </div>
                            <div class="project-info-count col-lg-2 col-md-12">
                                <div class="project-info-icon">
                                    <h2>{{ overdue_count }}</h2>
                                    <div class="project-info-sub-icon">
                                        <span class="fa fa-exclamation-triangle"></span>
                                    </div>
                                </div>
                                <div class="project-info-text pt-1">
                                    <h5>Overdue Tasks</h5>
                                </div>
                            </div>
                            <div class="project-info-count col-lg-2 col-md-12">
                                <div class="project-info-icon">
                                    <h2>{{vcs_issues}}</h2>
                                    <div class="project-info-sub-icon">
                                        <span class="fa fa-code"></span>
                                    </div>
                                </div>
                                <div class="project-info-text pt-1">
                                    <h5>VCS Issues</h5>
                                </div>
                            </div>
                            <div class="project-info-count col-lg-2 col-md-12">
                                <div class="project-info-icon">
                                    <h2>{{vcs_issues_open}}</h2>
                                    <div class="project-info-sub-icon">
                                        <span class="fa fa-file-code-o"></span>
                                    </div>
                                </div>
                                <div class="project-info-text pt-1">
                                    <h5>Active VCS Issues</h5>
                                </div>
                            </div>
                        </div>
                        <!-- project-info -->
                        <div class="card-body">
                            <div class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                <span>Project Metrics</span>
                            </div>
                            <div class="row py-2">
                                <div class="col-lg-6 col-md-12">
                                    <div class="insights px-2">
                                        <div><span class="text-info h3">{{ task_percent }}%</span> <span
                                                class="float-right">Tasks</span></div>
                                        <div class="progress progress-md mt-1 mb-0">
                                            <div class="progress-bar-striped progress-bar-animated bg-info"
                                                 role="progressbar" style="width: {{ task_percent }}%"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="insights px-2">
                                        <div><span class="text-success h3">{{vcs_percentage}}%</span> <span class="float-right">VCS Issues</span>
                                        </div>
                                        <div class="progress progress-md mt-1 mb-0">
                                            <div class="progress-bar-striped progress-bar-animated bg-success"
                                                 role="progressbar" style="width: {{ vcs_percentage }}%"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Task Progress -->
            <section class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Tasks in {{ project.name }}</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard ">
                                <ul class="nav nav-tabs nav-underline no-hover-bg" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="base-tab31" data-toggle="tab"
                                           aria-controls="tab31" href="#tab31" role="tab"
                                           aria-selected="true">Active</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="base-tab32" data-toggle="tab" aria-controls="tab32"
                                           href="#tab32" role="tab" aria-selected="false">Complete</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="base-tab33" data-toggle="tab" aria-controls="tab33"
                                           href="#tab33" role="tab" aria-selected="false">Comments</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="base-tab33" data-toggle="tab" aria-controls="tab33"
                                           href="#tab33" role="tab" aria-selected="false">Attachments</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="base-tab33" data-toggle="tab" aria-controls="tab33"
                                           href="#tab33" role="tab" aria-selected="false">Linked Tasks</a>
                                    </li>
                                </ul>
                                <div class="card-body border-top-blue-grey border-top-lighten-5">
                                    {% if tasks %}
                                        {% if project_slug == "mine" %}
                                            <h3>Tasks assigned to me (in all groups)</h3>
                                        {% else %}
                                            <h4>{{ view_completed|yesno:"Completed tasks, Active Tasks" }}</h4>
                                            <p><i>In workgroup "{{ project.group }}" - drag rows to set
                                                priorities.</i></p>
                                        {% endif %}
                                        </div>
                                        <div class="table-responsive table-striped">
                                        <table class="table mb-0">
                                            <thead>
                                            <tr>
                                                <th>Task</th>
                                                <th>Created</th>
                                                <th>Due on</th>
                                                <th>Owner</th>
                                                <th>Assigned</th>
                                                <th>Tags</th>
                                                <th>Mark</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for task in tasks %}
                                                <tr id="{{ task.id }}">
                                                    <td>
                                                        <a href="#">{{ task.title|truncatewords:10 }}</a>
                                                    </td>
                                                    <td>
                                                        {{ task.created_date|date:"m/d/Y" }}
                                                    </td>
                                                    <td>
              <span {% if task.overdue_status %}class="danger"{% endif %}>
                {{ task.due_date|date:"m/d/Y" }}
              </span>
                                                    </td>
                                                    <td>
                                                        {{ task.created_by }}
                                                    </td>
                                                    <td>
                                                        {% if task.assigned_to %}
                                                            {% for name in task.assigned_to.all %}
                                                                {% if task.assigned_to.count > 1 %}
                                                                    {% if forloop.last %}
                                                                        {{ name }}
                                                                    {% else %}
                                                                        {{ name }},
                                                                    {% endif %}
                                                                {% else %}
                                                                    {{ name }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}Anyone
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% for tagname in task.tags.all %}
                                                            <div class="badge badge-secondary">{{ tagname|title }}</div>
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        <form method="post"
                                                              action="#" role="form">
                                                            {% csrf_token %}
                                                            {% if view_completed %}
                                                                <button class="btn btn-danger btn-sm" type="submit"
                                                                        name="toggle_done">
                                                                    <i class="fa fa-check"></i> Incomplete
                                                                </button>
                                                            {% else %}
                                                                <button class="btn btn-info btn-sm" type="submit"
                                                                        name="toggle_done">
                                                                    <i class="fa fa-check"></i> Complete
                                                                </button>
                                                            {% endif %}
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="card-body card-dashboard">
                                            {% if project_slug != "mine" %}
                                                {% if view_completed %}
                                                    <a href="{% url 'tasks:project_detail' project_id project_slug %}"
                                                       class="btn btn-warning btn-min-width mr-1 mb-1"><i
                                                            class="fa fa-eye"></i> View Incomplete</a>

                                                {% else %}
                                                    <a href="#" class="btn btn-success btn-min-width mr-1 mb-1"><i
                                                            class="fa fa-eye"></i> View Completed</a>

                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <h4 class="text-center">No tasks on this project yet (add one!)</h4>
                                        <div class="card-body card-dashboard">
                                            {% if project_slug != "mine" %}
                                                {% if view_completed %}
                                                    <a href="{% url 'tasks:project_detail' project_id project_slug %}"
                                                       class="btn btn-warning btn-min-width mr-1 mb-1"><i
                                                            class="fa fa-eye"></i> View Incomplete</a>

                                                {% else %}
                                                    <a href="#" class="btn btn-success btn-min-width mr-1 mb-1"><i
                                                            class="fa fa-eye"></i> View Completed</a>

                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Default styling end -->
    </div>
    <div class="sidebar-detached sidebar-right">
        <div class="sidebar">
            <div class="project-sidebar-content">
                <!-- project actions -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Project Actions</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <a href="#" class="btn mb-1 btn-success btn-icon btn-lg btn-block"><i
                                    class="fa fa-plus"></i><span> Add Task</span></a>
                            <a href="#" class="btn mb-1 btn-danger btn-icon btn-lg btn-block"><i
                                    class="fa fa-trash"></i><span> Delete Project</span></a>
                            <a href="#" class="btn mb-1 btn-secondary btn-icon btn-lg btn-block"><i
                                    class="fa fa-random"></i><span> Link Tasks</span></a>
                        </div>
                    </div>
                </div>
                <!-- END: project actions -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Project Details</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <!-- project search -->
                        <div class="card-body border-top-blue-grey border-top-lighten-5">
                            <div class="project-search">
                                <div class="project-search-content">
                                    <form action="#">
                                        <div class="position-relative">
                                            <input type="search" class="form-control"
                                                   placeholder="Search project task, tag, issue...">
                                            <div class="form-control-position">
                                                <i class="fa fa-search text-size-base text-muted"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /project search -->

                        <!-- project progress -->
                        <div class="card-body">
                            <div class="insights">
                                <p>Project Overall Progress <span class="float-right
                                {% if project_percentage <= 50 %}
                                     text-danger
                                     {% elif project_percentage <= 70 %}
                                     text-warning
                                     {% elif project_percentage > 70 %}
                                     text-success
                                     {% endif %}
                                h3">{{ project_percentage }}%</span></p>
                                <div class="progress progress-sm mt-1 mb-0">
                                    <div class="progress-bar-striped progress-bar-animated
                                     {% if project_percentage <= 50 %}
                                     bg-danger
                                     {% elif project_percentage <= 70 %}
                                     bg-warning
                                     {% elif project_percentage > 70 %}
                                     bg-success
                                     {% endif %}
                                         " role="progressbar" style="width: {{ project_percentage }}%"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <!-- project progress -->
                    </div>
                </div>
                <!-- Project Overview -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Project Overview</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            {% if project.description %}
                                {{ project.description | markdownify }}
                            {% else %}
                                <p class="text-center">No description provided.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--/ Project Overview -->
            </div>

        </div>
    </div>
{% endblock %}

{% block vendor_js %}
{% endblock %}

{% block page_js %}
{% endblock %}